@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
:root{
    --blue: #5bccf6;
    --greyblue: #d3f3ff;
    --nav: hsl(0, 0%, 100%);
    font-size: 16px;
}

*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

html, body{
    overflow: hidden;
}
body{
    background: linear-gradient(var(--greyblue) 0%, var(--greyblue) 50%, var(--blue) 50%, var(--blue) 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    padding : 1rem 1rem 1rem 2rem;
    
    width: 19rem; 
    height: 1.5rem;

    background-color: var(--nav);   

    display: flex;
    justify-content: flex-end;  
    transition: all 1s ease;

}

p{
    font-family: 'Nunito', sans-serif;   
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 0.4rem;
    cursor: pointer;
}   
.menu{
    opacity: 1;
    transition: opacity 1s ease, transform 1s ease; /*has to be here, remove to see*/
}

button{
    background-color: transparent;
    padding: 1rem;
    margin-left: 1rem;
    position: relative;
    bottom: 0.3rem;
    border: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line{
    position: absolute;
    width: 1.4rem;
    height: 0.08rem;
    z-index: 2;
    background-color: var(--blue);  
}

.line1{
    transform: rotate(-765deg);
    transition: 1s;
}

.line2{
    transform: rotate(765deg);
    transition: 1s;
}

/*Active classes*/

.nav.active{
    width: 1.5rem;
    padding : 1rem 1rem 1rem 1rem;
}

.nav.active .menu{
    transform: 
    translateX(19rem)
    rotatey(720deg); 
    opacity: 0;
    /* display: none; */
    cursor: default; /* temporal display:none fix*/
    transition: opacity 1s ease, transform 1s ease;  /* transition into active */
}

.nav.active .line{
    left: 0.6rem;
}
.nav.active .line1{
    /* transform: translateY(-0.2rem)rotate(0deg); this is happening on mobiles */
    transform: rotate(0deg)
    translateY(-0.2rem);
    -webkit-transform: rotate(0deg)
    translateY(-0.2rem);
    -ms-transform: rotate(0deg)
    translateY(-0.2rem);
}
.nav.active .line2{
    transform: rotate(0deg) translateY(0.5rem); 
    -webkit-transform: rotate(0deg) translateY(0.5rem);
    -ms-transform: rotate(0deg) translateY(0.5rem);
}

@media(max-width: 400px){
    :root{
        font-size: 14.8px;
    }
}



